.formContainer {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.formTitle {
  font-size: 32px;
}

.signUp {
  text-decoration: underline;
}

.formFieldsWrapper {
  position: relative;
}

.formFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inputWrapper {
  margin-bottom: 20px;
}

.errors {
  position: absolute;
  bottom: -50px;
  display: flex;
  font-size: 14px;
  color: #ef5350;
  background: #fff;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
}

.formWarning {
	line-height: 1.5;
	text-align: center;
}

.voiteYes {
	padding: 0 15px;
	color: #7552b3;
	font-size: 18px;
	cursor: pointer;
	text-decoration: underline;
}
