@import '../../static/styles/colors.module.scss';
@import '../../static/fonts/index.scss';

.container {
	max-width: 1600px;
	padding: 0 3%;
	margin: 0 auto 70px;
	display: flex;
	flex-wrap: wrap;
}

.genre {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 20%;
	flex: 0 0 20%;
	height: 250px;
	// margin-bottom: 1px;
	// padding-right: 1px;
	overflow: hidden;
	cursor: pointer;

	&:hover {
		.text {
			height: 100%;
		}
	}

	&:nth-child(2n+2) > .text > .link {
		background: #34383c;
	}
}

.image {
	width: 100%;
	height: 100%;
	overflow: hidden;

	& > img {
		width: 100%;
		height: 100%;
		// border-top-left-radius: 5px;
		// border-top-right-radius: 5px;
		object-fit: cover;
	}
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 50%;
	font-family: $bold;
	transition: height .2s ease-in-out;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 10px 10px;
	background: #202427;
	color: $lightGrey;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0.85px;
	// border-bottom-left-radius: 5px;
	// border-bottom-right-radius: 5px;
	border: none;
	cursor: pointer;
	font-family: "Roboto-Bold";
	outline: none;
	transition: all .1s ease-in-out;
}