@import '../../../../static/styles/colors.module.scss';
@import '../../../../static/fonts/index.scss';

.book {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	margin-bottom: 25px;
	padding-right: 30px;
	overflow: hidden;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 30px;
}

.bookImage {
	display: flex;
	justify-content: center;
	width: 15%;
	background: $lightGrey;
	border-radius: 5px;
	cursor: pointer;

	& > img {
		width: 100%;
		object-fit: contain;
	}
}

.bookContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 83%;
}

.bookInfo {
	margin-bottom: 10px;
}

.bookHeadInfo {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 5px;
}

.bookName {
	width: 80%;
	font-size: 15px;
	color: $darkGrey;
	font-family: $regular;
	color: #3d70b2;
}

.bookAdditionalInfo {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	margin-bottom: 10px;

	& > span {
		margin-right: 15px;
	}
}

.bookYear {
	margin-bottom: 5px;
	color: grey;
}

.bookActions {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.buttonsWrapper {
	width: 30%;
}

.sale {
	display: flex;
	align-items: center;
	color: #7d7d7d;
	font-family: $regular;
	font-size: 13px;

	& > i {
		margin-right: 5px;
		font-size: 15px;
	}
}