.contentWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}

.imageBlock {
	display: flex;
	width: 40%;
}

.imageWrapper {
	display: flex;
	width: 100%;
	padding-bottom: 100%;
	position: relative;

	& > img {
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 5px;
		object-fit: cover;
	}
}

.infoBlock {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 59%;
	background: #ffffff;
	border-radius: 5px;
	margin-left: 1%;
	overflow: hidden;
}

.title {
	font-size: 24px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description {
	font-size: 17px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rating {
	margin-bottom: 15px;
}

.likesBlock {
	display: flex;
	align-items: center;
}

.likes {
	display: block;
	margin-left: 10px;
	font-size: 24px;
	position: relative;
	bottom: 2px;
}

.error {
	display: flex;
	align-self: flex-start;
	margin-top: 15px;
	padding: 3px 10px;
	background: #e57373;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
}