@import "../../static/fonts/index.scss";

.filmDetailed {
	margin-bottom: 100px;
}

.contentWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}

.imageBlock {
	display: flex;
	width: 40%;
}

.imageWrapper {
	display: flex;
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	background-color: #fff;

	& > img {
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 5px;
		object-fit: cover;
	}
}

.infoBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding: 20px;
	width: 59%;
	background: #ffffff;
	border-radius: 5px;
	margin-left: 1%;
	overflow: hidden;
}

.title {
	font-size: 24px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description {
	font-size: 17px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.director {
	font-size: 17px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 15px;
}

.ratingCounter {
	display: flex;
	align-items: flex-end;
	font-size: 18px;
}

.peopleRated {
	margin-left: 10px;
	font-size: 13px;
}

.likesBlock {
	display: flex;
	align-items: center;
}

.likes {
	display: block;
	margin-left: 10px;
	font-size: 24px;
	position: relative;
	bottom: 2px;
}

.error {
	display: flex;
	justify-content: center;
	margin: 15px 0;
	padding: 3px 10px;
	background: #e57373;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
}

.author {
	font-size: 14px;
	font-family: $lightItalic;

	& > span {
		font-size: 12px;
		margin-right: 5px;
		font-family: $light;
	}

	& > a {
		text-decoration: none;
    padding: 2px 10px;
    background: #2a9d8f;
    border-radius: 5px;
    color: #fff;
	}
}

.authorWrapper {
	position: relative;
	display: flex;
	justify-content: flex-end;
}