@import '../../../../static/styles/colors.module.scss';
@import '../../../../static/fonts/index.scss';

.banner {
	display: flex;
	align-items: center;
	width: 100%;
	height: 300px;
	background: url('../../../../static/images/announcement.webp') center center/cover;
	background-repeat: no-repeat;
	margin-bottom: 70px;
}

.bannerWrapper {
	display: flex;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 3%;
}

.title {
	position: relative;
	font-size: 40px;
	color: #f4f4f4;
	font-family: $bold;
	background: transparent;
	padding: 0 20px;
	color: $lightGrey;

	&::after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		border: 3px solid $lightGrey;
		left: 0;
		top: 0;
	}

	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		border: 3px solid $green;
		left: -3px;
		top: -3px;
	}
}