.authBlock {
  padding: 8px 15px;
  background: #8967c7;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  outline: none;

  &:hover {
    background: #7552b3;
  }

  .span {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
  }
}