@import "../../../static/styles/colors.module.scss"; 

.button {
  padding: 10px 15px;
  background: $button;
  cursor: pointer;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
	outline: none;
	border: none;

  &:hover {
    background: $buttonHover;
  }

  .span {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
  }
}