@import "../../../static/fonts/index";
@import "../../../static/styles/colors.module.scss";

.container {
	display: flex;
  justify-content: space-between;
  align-items: center;
	max-width: 1400px;
	width: 100%;
	padding: 0 3%;
	margin: 10px auto 20px;
	border-radius: 5px;
}

.navbarPages {
  display: flex;
	justify-content: space-between;
	align-items: center;
	width: 74%;
}

.headerLogo {
  font-size: 40px;
	font-family: $lightItalic;
	width: 25%;
}

.pageLink {
  font-size: 16px;
	margin-right: 25px;
	padding-bottom: 5px;
}

.linkActive {
	border-bottom: 2px solid $green;
}

.navbarOwnData {
	display: flex;

	svg {
		margin-left: 30px;
	}
}

.cartWrapper {
	position: relative;

	.badge {
		position: absolute;
		top: -12px;
    left: 45px;
    background: $green;
    padding: 1px 7px;
    border-radius: 25px;
    color: #fff;
	}

	& > svg {
		margin-left: 30px;
	}
}