@import "../../../static/fonts/index.scss";

.categorie {
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.loadingForEmpty {
	margin-bottom: 140px;

	.categorieBooksWrapper {
		margin-top: 50px;
	}
}

.categorieBooksWrapper {
	position: relative;
}

.booksContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
	position: relative;
}

.loadingBlock {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	box-sizing: border-box;
	margin-right: .3%;

	& > span {
		display: block;
    font-family: "Raleway-Bold";
    font-size: 20px;
    background: #2a9d8f;
    padding: 10px 20px;
    border-radius: 5px;
    color: #eee;
	}
}

.emptyData {
	width: 100%;
	text-align: center;
}

.tagsBlock {
	display: flex;
	align-items: flex-start;
	margin-top: 10px;
}

.tagsTitle {
	white-space: nowrap;
	margin-bottom: 10px;
	background: #2a9d8f;
	color: #eee;
	padding: 3px 10px;
	border-radius: 5px;
	font-size: 13px;
}

.tagsWrapper {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
	font-size: 14px;

	& > div {
		padding: 3px 10px;
    background: #fff;
    border-radius: 5px;
    font-size: 13px;
		margin-right: 10px;
		margin-bottom: 10px;
		cursor: pointer;
	}
}

.resetFilterButton {
	cursor: pointer;
	position: relative;
	top: 1px;

	& > svg {
		width: 25px;
		transition: transform .175s ease-in-out;

		&:hover {
			transform: scale(1.15);
		}
	}
}