.errors {
  position: absolute;
  bottom: -65px;
  display: flex;
  font-size: 14px;
  color: #ef5350;
  background: #fff;
  padding: 5px 15px;
  width: 100%;
	border-radius: 5px;
	left: 0;
	right: 0;
	margin: 0 auto;
}