@import "../../../static/fonts/index";
@import "../../../static/styles/colors.module.scss";

.container {
	display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
	width: 100%;
	margin: 10px 0 50px 0;
	border-radius: 5px;
}

.navBarHead {
  display: flex;
}

.navbarPages {
  display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
}

.navFilter {
	background: #264653;
	color: #eee;
	padding: 2px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.headerLogo {
  font-size: 40px;
	font-family: $lightItalic;
}

.linkWrapper {
  display: flex;
	align-items: center;
}

.navLink {
  font-size: 18px;
	margin-left: 20px;
}

.buttonsWrapper {
  display: flex;
  border-radius: 5px;
}

.user {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.myOffice,
.logout {
  padding: 9px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .12s ease-in-out;
	background-color: $darkGrey;
	color: $lightGrey;
	font-size: 14px;
	border: none;
	outline: none;
}

.logout {
	margin-right: 0;
}

.pageLink {
  font-size: 16px;
	margin-right: 25px;
	padding-bottom: 5px;
}

.linkActive {
	border-bottom: 2px solid $green;
}

.navbarOwnData {
	display: flex;

	svg {
		margin-left: 30px;
	}
}

.cartWrapper {
	position: relative;

	.badge {
		position: absolute;
		top: -12px;
    left: 45px;
    background: #009688;
    padding: 1px 7px;
    border-radius: 25px;
    color: #fff;
	}

	& > svg {
		margin-left: 30px;
	}
}

@media all and (max-width: 600px) {
	.user {
		display: none;
	}
}