@import "../../../../static/fonts/index.scss";
@import "../../../../static/styles/colors.module.scss";

.uploadFilmTitle {
	font-size: 22px;
}

.uploadFilmWrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	position: relative;
}

.uploadFilmImage {
	width: 48%;
}

.uploadFilmFields {
	width: 48%;
}

.uploadFilmRating {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.uploadFilmButton {
	display: flex;
	justify-content: center;
}

.uploadFilmImage {
	max-width: 250px;
	width: 250px;
	max-height: 350px;
	height: 350px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	border-radius: 5px;

	& > span {
		font-size: 30px;
		color: $lightGrey;
		font-family: $bold;
		cursor: default;
	}

	& > img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
	}
}

.uploadFilmText {
	display: block;
	margin-bottom: 10px;
}

.filed {
	margin-bottom: 20px;
}

.inputUploadFile {
	display: none;
}