$regular: 'Raleway-Regular';
$bold: 'Raleway-Bold';
$light: 'Raleway-Light';
$lightItalic: 'Raleway-LightItalic';

@font-face {
  font-family: 'Raleway-Regular';
  src: url('Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway-LightItalic';
  src: url('Raleway-LightItalic.ttf');
}
