@import '../../static/styles/colors.module.scss';
@import '../../static/fonts/index.scss';

.bookDetailed {
	margin-bottom: 100px;
}

.contentWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 1400px;
	padding: 0 3%;
	margin: 0 auto;
	margin-top: 30px;
}

.leftSideWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 20%;
	position: relative;
}

.imageBlock {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 5px;
	overflow: hidden;
	background: $lightGrey;

	& > img {
		width: 100%;
	}
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.addToCart {
	width: 83%;
	height: 35px;
	border-radius: 5px;
	background: $darkGrey;
	border: none;
	color: $lightGrey;
	cursor: pointer;
	transition: all .1s ease-in-out;
	outline: none;
	font-size: 15px;
	text-transform: uppercase;

	&:hover {
		background: $gold;
		color: $darkGrey;
	}
}

.addToFavorite {
	width: 16%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: $darkGrey;
	cursor: pointer;

	& > i {
		color: $lightGrey;
		transition: transform .125s ease-out;
		transform: scale(1);
	}

	&:hover > i {
		transform: scale(1.28);
	}
}

.editBook {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all .125s ease-in-out;

	&:hover {
		background-color: #2a9d8f;

		& > svg {
			fill: #eee;
		}
	}
}

.infoBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding: 0 20px;
	width: 79%;
	border-radius: 5px;
	overflow: hidden;
}

.title {
	font-size: 24px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.author {
	font-size: 17px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.itemTitle {
	font-size: 14px;
	margin-right: 10px;
	color: #616161fa;
	font-family: $lightItalic;
}

.description {
	font-size: 17px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 5px;
}

.rateStars {
	display: flex;
	margin-right: 10px;
}

.ratingCounter {
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
	font-size: 18px;
}

.peopleRated {
	margin-left: 10px;
	font-size: 13px;
}

.genres {
	margin-bottom: 10px;
}

.originalName {
	margin-bottom: 10px;
}
