.categorie {
	margin-bottom: 40px;
}

.categorieFilmsWrapper {
	margin-top: 20px;
}

.categorieHeaderWrapper {
	display: flex;
	justify-content: space-between;
}

.categorieTitle {
	font-size: 22px;
}

.categorieAddNewFilm {
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
}