@import "../../../static/styles/colors.module.scss";
@import "../../../static/fonts/index.scss";

.bookContainer {
	position: relative;
	width: 19.7%;
	background-color: #fff;
	padding: 5px;
	border-radius: 3px;
	margin-right: .3%;
	margin-bottom: .3%;
	cursor: pointer;
	transition: all .125s ease-in-out;

	&:nth-child(5n+5) {
		margin-right: 0;
	}

	&:hover {
		background-color: $darkGrey;
		transform: scale(1.015);
		color: $lightGrey;

		.imageLayoutContainer {
			display: block;
		}
	}
}

.imageContainer {
	width: 100%;
	position: relative;

	.bookImage {
		width: 100%;
    position: relative;
		padding-bottom: 100%;

		img {
			height: 100%;
			width: 100%;
			position: absolute;
			object-fit: cover;
		}
	}
}

.bookRatingAsNumer {
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 1;
	background: #ffb400;
	border-radius: 3px 0 0 3px;
	color: #454545;
	padding: 2% 4%;
	font-size: 13px;
}

.imageLayoutContainer {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
}

.imageLayout {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;


	& > span {
		font-size: 28px;
		transition: all 0s ease-in-out;
		position: relative;
	}

	& > svg {
		width: 40px;
		height: 40px;
		margin-right: 5px;
	}
}

.bookData {
	padding: 15px 0 10px;
}

.bookTitle {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 5px;
}

.bookRating {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

@media all and (max-width: 1000px) {
	.bookContainer {
		width: 33%;
	}
}

@media all and (max-width: 640px) {
	.bookContainer {
		width: 49.7%;
	}
}

@media all and (max-width: 500px) {
	.bookTitle {
		font-size: 20px;
	}
}

@media all and (max-width: 450px) {
	.bookContainer {
		width: 100%;
	}

	.bookContainer {
		margin-bottom: 5%;
	}
}